.my-input {
    position: relative;
}

.search-icon {
    position: absolute;
    background-image: url(images/search-icon.png);
    right: 10px;
    
}

.search-icon img {
    width: 40px;
    height: auto;
}